{%load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Adventure</title>
	<link rel="stylesheet" type="text/css" href="{%static 'main/adv.css'%}">
</head>
<body>
	<h1>Adventures Movies</h1>
		<table>
			<tr>
				<th>List</th>
			</tr>
			<tr>
				<td colspan="4">Click on movie</td>
			</tr>
			<tr>
				<td><a href="adv.html">
					<img src="movie39.jpg">
					Cutthroat Island (1995)
				</a></td>
				<td><a href="adv.html">
					<img src="movie1.jpg">
					Toy Story (1995)
				</a></td>
				<td><a href="adv.html">
					<img src="movie4.jpg">
					Tom and Huck (1995)
				</a></td>
				<td><a href="adv.html">
					<img src="movie2.jpg">
					Jumanji (1995)
				</a></td>
				<td><a href="adv.html">
					<img src="movie37.jpg">
					GoldenEye (1995)
				</a></td>
				<td><a href="adv.html">
					<img src="movie38.jpg">
					Balto (1995)
				</a></td>
				
			</tr>
			<tr>
				<td><a href="frend4.html">
					<img src="movie40.jpg">
					Mortal Kombat (1995)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie41.jpg">
					Lamerica (1994)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie42.jpg">
					Indian in the Cupboard, The (1995)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie43.jpg">
					White Squall (1996)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie44.jpg">
					Broken Arrow (1996)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie45.jpg">
					Bottle Rocket (1996)
				</a></td>
				
			</tr>
		</table>


</body>
</html>