{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Animation</title>
	<link rel="stylesheet" type="text/css" href="{%static 'main/anime.css'%}">
</head>
<body>
	<h1>Animation Movies</h1>
		<table>
			<tr>
				<th>List</th>
			</tr>
			<tr>
				<td colspan="4">Click on movie</td>
			</tr>
			<tr>
				<td><a href="frend4.html">
					<img src="movie54.jpg">
					Pocahontas (1995)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie55.jpg">
					Goofy Movie, A (1995)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie59.jpg">
					Swan Princess, The (1994)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie56.jpg">
					Lion King, The (1994)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie57.jpg">
					Nightmare Before Christmas, The (1993)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie58.jpg">
					Pagemaster, The (1994)
				</a></td>

			</tr>
			<tr>
				<td><a href="frend4.html">
					<img src="movie60.jpg">
					Aladdin (1992)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie61.jpg">
					Snow White and the Seven Dwarfs (1937)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie62.jpg">
					Beauty and the Beast (1991)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie63.jpg">
					Pinocchio (1940)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie64jpg.jpg">
					Heavy Metal (1981)
				</a></td>
				<td><a href="frend4.html">
					<img src="movie65.jpg">
					Aristocats, The (1970)
				</a></td>

			</tr>
		</table>


</body>
</html>